@font-face {
  font-family: babyfont;
  src: url(CuteBabyRegularDF.ttf);
}

.App {
  background-image: url("background.jpg");
}

.App-header {
  text-align: center;
  /* min-height: 100vh; */
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 25px;
}



.App-link {
  color: #61dafb;
}

.title {
  color: black;
  font-family: babyfont;
  font-size: 10ch;
  line-height: .8;
}